body {
	background-color: black;
}
.screen {
	position: absolute;
	width: 400px;
	background-color: white;
	background: url("img/common/bg.png");
}
.header {
	position: absolute;
	width: 400px;
	height: 240px;
	background-color: white;
}
.headerLine {
	position: absolute;
	width: 400px;
	height: 5px;
	background-color: rgb(97, 196, 9);
	top: 183px;
}
.sectionTitle {
	width: 312px;
	height: 27px;
	margin-left: 44px;
}
.txtTitle {
	position: absolute;
	margin-top: 3px;
	margin-left: 10px;
	color: white;
}
.sectionCommunity {
	width: 312px;
	margin-left: 44px;
	margin-top: 5px;
}
.txtCommunity {
	position: absolute;
	font-weight: bold;
	left: 90px;
	margin-top: 10px;
	color: black;
}
.divideCommunity {
	border-top: dashed 1px;
	border-bottom: none;
	width: 312px;
	margin-left: 44px;
	margin-top: 50px;
}
.txtFooter {
	position: relative;
	margin-top: 70px;
	color: gray;
}

.communityHeader1 {
	width: 400px;
	height: 149px;
	background-color: white;
}
.communityHeader2 {
	width: 400px;
	height: 46px;
	background-color: white;
}
.communityHeader3 {
	width: 400px;
	height: 29px;
	background-image: url('../../img/community/header.png');
}
.communityIcon {
	position: absolute;
	left: 6px;
	top: 149px;
}
.communityTitle {
	position: absolute;
	left: 49px;
	top: 145px;
	font-weight: bold;
}
.communityPlatform {
	position: absolute;
	top: 183px;
	left: 363px;
}
.communityRating {
	width: 400px;
	height: 28px;
	background-color: rgb(217, 217, 217);
}
.communityRatingText {
	margin-top: 5px;
	margin-left: 45px;
	position: absolute;
}
.post {
	margin-left: 40px;
}
.postMiddle {
	background-image: url("img/common/post_middle.png");
	background-repeat: repeat-y;
}
.postUserIcon {
	margin-left: 5px;
	margin-top: -8px;
}
.postUserName {
	position: absolute;
	margin-top: -40px;
	margin-left: 50px;
	font-weight: bold;
}
.postTime {
	position: absolute;
	margin-top: -20px;
	margin-left: 50px;
	color: gray;
}
.postText {
	margin-left: 10px;
}
.postBottom {
	width: 320px;
	height: 24px;
	background-image: url("img/common/post_bottom.png");
	margin-top: -16px;
}
.postDrawing {
	width: 318px;
	height: 121px;
	margin-left: 1px;
	margin-bottom: 15px;
}